*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
img{
    display: block;
}
ul{
    text-decoration: none;
}
li{
    text-decoration: none;
    list-style-type: none 
}
a{
    text-decoration: none;
    font-family: var(--titulo);
}
.detalhe-ponto{
    color: var(--cor-p1);
}
:root {
    --cor-0: #ffffff;
    --cor-1: #f7f7f7;
    --cor-2: #ededed;
    --cor-3: #dedede;
    --cor-4: #cccccc;
    --cor-5: #b2b2b2;
    --cor-6: #9c9c9c;
    --cor-7: #717171;
    --cor-8: #595959;
    --cor-9: #404040;
    --cor-10: #2e2e2e;
    --cor-11: #111111;
    --cor-12: #000000;
    --cor-p1: #ffbb00;
    --cor-p2: #e4a30b;
    --cor-p3: #a66f00;
    --cor-p4: #664400;
    --cor-p5: #332200;
}
:root{
    --titulo: poppins, sans-serif;
    --texto: roboto, sans-serif;
    --grande: 4rem;
    --grande2: 3rem; 
    --medio-grande: 2rem;
    --pequeno-medio: 1.5rem;
    --pequeno-medio2: 1.125rem;
    --pequeno: 1rem
}
/*header*/
header{
    background-color: var(--cor-12);
    
}
.container-header{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    
}
.menu a{
    color: var(--cor-0);
    padding: 12px 0px;
    border-radius: 4px;
    font-size: var(--pequeno-medio2);
    display: block;
    position: relative;
}
.menu a:after{
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background-color: var(--cor-0);
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
}
.menu a:hover:after{
    width: 100%;
}

@media (max-width: 800px) {
    .menu a{
        background: var(--cor-11);
        padding: 12px 16px;
        width: 100%;
    }
    .nav-menu{
        gap: 20px;
    }
    .menu a:after{
        display: none;
    }
}
@media (max-width: 600px) {
    .menu a{
        font-size: var(--pequeno);
        padding: 8px 12px;
    }
    .nav-menu{
        gap: 20px;
    }
}
@media (max-width: 500px){
    .cabecalho{
        flex-wrap: wrap;
        gap: 20px;
    }
}

/*header*/


/*titulo bicicletas*/
.bicycles-tittle{
    background-color: var(--cor-11);
}
.bicycles-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
}

.bicycles-tittle-introduction h2{
    font-family: var(--texto);
    font-size: var(--pequeno-medio);
    color: var(--cor-5);
    font-weight: 500;
}
.bicycles-tittle-introduction h1{
    font-size: var(--grande);
    font-family: var(--titulo);
    color: var(--cor-0);
    line-height: 1.125;
    margin-top: 4px;
}
@media (max-width: 1200px){
    .bicycles-tittle-introduction h1{
        font-size: var(--grande2);
    }
    .bicycles-tittle-introduction h2{
        font-size: var(--pequeno-medio2);
    }
}
@media (max-width: 800px){
    .bicycles-tittle-introduction h1{
        font-size: var(--medio-grande);
    }
    .bicycles-tittle-introduction h2{
        font-size: var(--pequeno);
    }
}
@media (max-width: 600px){
    .button-card1{
        padding: 12px 16px;
        font-size: var(--pequeno);
    }
    .button-card2{
        padding: 12px 16px;
        font-size: var(--pequeno);
    }
}


/*titulo bicicletas*/


/*nimbus stark*/
.bikes-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
    background: url(../img/dec/top-right.svg) no-repeat top 40px right 20px ;

}
.bikes-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.bikes-img{
    position: relative;
}
.bikes-img h1{
    position: absolute;
    top: 20px;
    right: 0px;
    color: var(--cor-0);
    font-family: var(--texto);
    font-size: var(--pequeno-medio2);
    background-color: var(--cor-12);
    padding: 8px 16px;
    font-weight: 500;
    border-radius: 4px 0 0 4px;
}
.bikes-img img{
    width: 100%;
    border-radius: 4px;
}
.bikes-info span{
    width: 12px;
    height: 8px;
    background-color: var(--cor-p1);
    display: block;
}
.bikes-info h1{
    font-family: var(--titulo);
    font-size: var(--medio-grande);
    color: var(--cor-11);
    margin-top: 8px;
}
.bikes-info p{
    font-family: var(--texto);
    font-size: var(--pequeno);
    color: var(--cor-8);
    margin-top: 20px;
}
.bikes-info li{
    font-size: var(--pequeno-medio2);
    font-family: var(--titulo);
    color: var(--cor-8);
    line-height: 2.1 ;
    display: flex;
    gap: 8px;
    align-items: center;
    
}
.bikes-icons-button img{
    width: 24px;
    height: 24px;
}
.bikes-info ul{
    margin-top: 32px;
}
.bikes-icons-button{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.bikes-button{
    
}
.bikes-button a{
    display: flex;
    gap: 12px;
    align-items: center;
    color: var(--cor-p5);
    font-weight: 700;
    font-size: var(--pequeno-medio2);
    padding: 16px 32px;
    background-color: var(--cor-p1);
    border-radius: 4px;
}
.bikes-button img{
    width: 18px;
    height: 10px;
}
/*nimbus stark*/

/*Magic Might*/
.magic-might{
   background: linear-gradient(to right, var(--cor-0) 30%, var(--cor-11) 0%);

}
.magic-might h1{
    color: var(--cor-0);
}
.magic-might p{
    color: var(--cor-5);
}
.magic-might li{
    color: var(--cor-5);
}
@media (max-width: 800px){
    .magic-might{
        background: var(--cor-11);
     
     }
}

/*Magic Might*/


/*todas bikes*/
@media (max-width: 800px){
    .bikes-content{
        grid-template-columns: 1fr;
    }
    .bikes-container{
        padding: 40px 20px;

    }
    .bicycles-container{
        padding: 40px 20px;
    }
    .bikes-info h1{
        font-size: var(--pequeno-medio);
    }
    .bikes-info p{
        font-size: var(--pequeno);
    }
    .bikes-content{
        gap: 20px;
    }
}
@media (max-width: 600px){
    .bikes-icons-button{
        flex-direction: column;
        align-items: start;
    }
    .bikes-info-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        width: 100%;
    }
    .bikes-icons-button li{
        font-size: var(--pequeno);
    }
    .bikes-button{
        margin-top: 32px;
        padding: 12px 16px;
    }
    .bikes-button a{
        font-size: var(--pequeno);
    }
}
@media (max-width: 360px){
    .bikes-info li{
        line-height: normal;
    }
}






/*todas bikes*/

/*rodapé*/
.footer{
    background-color: var(--cor-12);
}
.footer-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
}
.footer-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.footer-container h1{
    font-family: var(--texto);
    color: var(--cor-0);
    font-size: var(--pequeno-medio);
    font-weight: 500;

}
.link-contact{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    
}
.link-contact a{
    font-size: var(--pequeno-medio2);
    color: var(--cor-5);
    font-family: var(--texto);
    margin-bottom: 16px;
}
.footer-container ul{
    margin-top: 32px;
}
.footer-container li{
    font-size: var(--pequeno-medio2);
    color: var(--cor-5);
    font-family: var(--texto);
    margin-bottom: 16px;

}
.social-media{
    display: flex;
    gap: 30px;
    margin-top: 32px;
}
.nav-menu-footer{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}
.nav-menu-footer a{
    font-size: var(--pequeno-medio2);
    color: var(--cor-5);
    font-family: var(--texto);
    margin-bottom: 16px;
}
footer a:hover{
    color: var(--cor-0);
}
@media (max-width: 1200px){
    .contact h1, .info h1{
        font-size: var(--pequeno-medio2);
    }
}
@media (max-width: 800px){
    .footer-content-logo{
        display: none;
    }
    .footer-content{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 600px){
    .footer-content{
        grid-template-columns: 1fr;
        gap: 60px;
    }
    .footer-container ul {
        margin-top: 20px;
    }
    .footer-container{
        padding: 60px 20px 0px 20px;
    }
}


/*rodapé*/


/*copyright*/
.copyright{
    background-color: var(--cor-12);

}
.copyright-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
}
.copyright-container h1{
    font-size: var(--pequeno-medio2);
    color: var(--cor-5);
    font-family: var(--texto);
    font-weight: 400;
}
@media (max-width: 600px){
    .copyright-container {
        padding: 40px 20px;
    }

}
/*copyright*/