*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
img{
    display: block;
}
ul{
    text-decoration: none;
}
li{
    text-decoration: none;
    list-style-type: none 
}
a{
    text-decoration: none;
    font-family: var(--titulo);
}
.detalhe-ponto{
    color: var(--cor-p1);
}
:root {
    --cor-0: #ffffff;
    --cor-1: #f7f7f7;
    --cor-2: #ededed;
    --cor-3: #dedede;
    --cor-4: #cccccc;
    --cor-5: #b2b2b2;
    --cor-6: #9c9c9c;
    --cor-7: #717171;
    --cor-8: #595959;
    --cor-9: #404040;
    --cor-10: #2e2e2e;
    --cor-11: #111111;
    --cor-12: #000000;
    --cor-p1: #ffbb00;
    --cor-p2: #e4a30b;
    --cor-p3: #a66f00;
    --cor-p4: #664400;
    --cor-p5: #332200;
}
:root{
    --titulo: poppins, sans-serif;
    --texto: roboto, sans-serif;
    --grande: 4rem;
    --grande2: 3rem; 
    --medio-grande: 2rem;
    --pequeno-medio: 1.5rem;
    --pequeno-medio2: 1.125rem;
    --pequeno: 1rem
}
/*header*/
header{
    background-color: var(--cor-12);
    
}
.container-header{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    
}
.menu a{
    color: var(--cor-0);
    padding: 12px 0px;
    border-radius: 4px;
    font-size: var(--pequeno-medio2);
    display: block;
    position: relative;
}
.menu a:after{
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background-color: var(--cor-0);
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
}
.menu a:hover:after{
    width: 100%;
}

@media (max-width: 800px) {
    .menu a{
        background: var(--cor-11);
        padding: 12px 16px;
        width: 100%;
    }
    .nav-menu{
        gap: 20px;
    }
    .menu a:after{
        display: none;
    }
}
@media (max-width: 600px) {
    .menu a{
        font-size: var(--pequeno);
        padding: 8px 12px;
    }
    .nav-menu{
        gap: 20px;
    }
}
@media (max-width: 500px){
    .cabecalho{
        flex-wrap: wrap;
        gap: 20px;
    }
}

/*header*/
/*titulo nebula*/
.nebula-tittle{
    background: url(../img/dec/top-right.svg) no-repeat top 10px right 0px ;

}
.nebula-tittle h2{
    font-family: var(--texto);
    font-size: var(--medio-grande);
    color: var(--cor-5);
    font-weight: 500;
}
.nebula-tittle h1{
    font-size: var(--grande);
    font-family: var(--titulo);
    color: var(--cor-0);
    line-height: 1.125;
    margin-top: 4px;
}
@media (max-width: 1200px){
    .nebula-tittle h1{
        font-size: var(--grande2);
    }

}
@media (max-width: 800px){
    .nebula-tittle h1{
        font-size: var(--medio-grande);
    }
    .nebula-tittle h2{
        font-size: var(--pequeno);
    }
}
/*titulo nebula*/

/*nebula*/


.nebula{
    background-color: var(--cor-11);
}
.nebula-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
}
.nebula-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: start;
    margin-top: 60px;
}
.nebula-content-img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

}
.nebula-content-img1{
    grid-column: span 2;
    
}
.nebula-content-img img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
}

.nebula-content-info-introduction > p{
    font-size: var(--pequeno-medio);
    font-family: var(--texto);
    color: var(--cor-5);
    line-height: 1.5;
}
.nebula-content-info-button,.nebula-content-info-deliverys{
    display: flex;
    align-items: center;
}
.nebula-content-info-button{
    gap: 12px;
    margin-top: 32px;
}
.nebula-content-info-delivery{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.nebula-content-info-deliverys{
    background-color: var(--cor-12);
    padding: 4px 8px;
    border-radius: 4px;
    gap: 8px;
    
}
.nebula-content-info-deliverys p{
    font-size: 12px;
    font-family: var(--texto);
    color: var(--cor-5);
}
.nebula-content-info-button a{
    cursor: pointer;
    padding: 24px 32px;
    border-radius: 4px;
    background-color: var(--cor-p1);
    font-size: var(--pequeno-medio2);
    font-weight: 600;
    border: 0px;
    display: inline-block;
    color: var(--cor-p5);
}
.nebula-content-info-cards{
    margin-top: 40px;
}
.nebula-content-info-cards > h1{
    font-size: 12px;
    font-weight: 400;
    font-family: var(--titulo);
    color: var(--cor-0);
}
.nebula-content-info-allcards{
    background-color: var(--cor-12);
    padding: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin-top: 12px;
}
.nebula-content-info-allcards h1{
    font-size: var(--pequeno-medio2);
    color: var(--cor-0);
    font-family: var(--titulo);
    font-weight: 500;
}
.nebula-content-info-allcards p{
    font-size: 14px;
    font-family: var(--texto);
    color: var(--cor-5);
}
.nebula-content-info-card{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.nebula-content-info-card img{
    width: 24px;
}
.nebula-content-info-datasheet{
    margin-top: 40px;
}
.nebula-content-info-datasheet > h1{
    font-size: 12px;
    font-weight: 400;
    font-family: var(--titulo);
    color: var(--cor-0);
}
.nebula-content-info-alldata{
    background-color: var(--cor-12);
    padding: 32px;
    margin-top: 12px;
}
.nebula-content-info-alldata h1{
    font-size: var(--pequeno);
    color: var(--cor-4);
    font-family: var(--texto);
    font-weight: 400;
}
.nebula-content-info-alldata p{
    font-size: var(--pequeno);
    color: var(--cor-4);
    font-family: var(--texto);
    font-weight: 300;
}
.nebula-content-info-data{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--cor-11);
}
.nebula-content-info-data-roda{
    display: flex;
    justify-content: space-between;
}
.nebula-content-info-data-roda h1,p{
    line-height: 1.5;
    padding: 4px 0;

}
.nebula-content-info-data h1,p{
    padding: 4px 0;
    line-height: 1.5;
}
@media (max-width: 1200px){
    .nebula-content-info-introduction > p{
        font-size: var(--pequeno-medio2);
    }
}
@media (max-width: 920px){
    .nebula-content-img{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 800px){
    .nebula-container{
        padding: 40px 20px;
    }
    .nebula-content{
        grid-template-columns: 1fr;
    }
    .nebula-content-info{
        grid-row: 1;
    }
}
@media (max-width: 430px){
    .nebula-content-info-button{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: start;
    }
    .nebula-content-info-button a{
        font-size: var(--pequeno);
        padding: 12px 16px;
    }
}
@media (max-width: 400px){
    .nebula-content-info-allcards{
        grid-template-columns: 1fr;
    }
    
}
/*nebula/*

/*escolha a sua*/
.choice-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px 120px;
}
.choice img{
    width: 100%;
    border-radius: 4px;
}
.choice-tittle h1{
    font-size: var(--grande);
    font-family: var(--titulo);
    color: var(--cor-11);
    line-height: 1.125;
}

@media (max-width: 1200px){
    .choice-container{
        padding: 60px 20px;

    }
    .choice-tittle h1{
        font-size: var(--grande2);
    }

}
@media (max-width: 800px){
    .choice-tittle h1{
        font-size: var(--medio-grande);
    }
}
.bikes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 40px;
    overflow-x: auto;

}
.allbikes{
    min-width: 280px;
}
.allbikes h1{
    font-size: var(--medio-grande);
    font-family: var(--titulo);
    color: var(--cor-11);
    margin-top: 16px;
}
.allbikes h1::before{
    content: "";
    background-color: var(--cor-p1);
    height: 8px;
    width: 12px;
    display: inline-block;
    margin-right: 8px;
    transition: .2s;
}
.allbikes:hover h1::before{
    width: 24px;
}
.allbikes p{
    font-size: var(--pequeno-medio2);
    font-family: var(--texto);
    color: var(--cor-8);
    font-weight: 500;
    margin-top: 8px;
    padding-bottom: 20px;
}
@media (max-width: 800px){
    .bikes{
        gap: 20px;
    }
    .bikes img{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .allbikes h1{
        font-size: var(--pequeno-medio);

    }
}

/*escolha a sua*/


/*tecnologia avançada*/
.security{
    background-color: var(--cor-11);
    box-shadow: inset 0 80px var(--cor-0), inset 0 -80px var(--cor-12);
}
.security-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.security-content{
    padding-top: 160px;
    padding-bottom: 160px;
}
.security-content h2{
    font-family: var(--texto);
    font-size: var(--pequeno-medio);
    color:var(--cor-5);
    
}
.security-content h1{
    font-size: var(--grande);
    font-family: var(--titulo);
    color: var(--cor-0);
    font-weight: .125rem;
    margin-top: 20px;
    line-height: 1.125;

}
.security-content p{
    font-family: var(--texto);
    font-size: var(--pequeno-medio);
    color:var(--cor-5);
    margin-top: 32px;
    line-height: 1.5;
}
.security-content a{
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    background-color: var(--cor-p1);
    font-size: var(--pequeno-medio2);
    font-weight: 600;
    border: 0px;
    display: inline-block;
    color: var(--cor-p5);
    margin-top: 20px;
}


.security-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
@media (max-width: 1200px){

    .security-content h1{
        font-size: var(--grande2);
    }
    .security-content h2{
        font-size: var(--pequeno-medio2);
    }
    .security-content p{
        font-size: var(--pequeno-medio2);
    }
}
@media (max-width: 800px){
    .security{
        box-shadow: inset 0 -80px var(--cor-12);

    }
    .security-container{
        grid-template-columns: 1fr;
    }
    .security-content{
        grid-row: 1;
    }
    .security-content h1{
        font-size: var(--medio-grande);
    }

    .security-content{
        padding-top: 40px;
        padding-bottom: 0px;
    }
    .security-img{
        flex-grow: 2;
    }
}
@media (max-width: 600px){
    .security-content a{
       padding: 12px 16px;
       font-size: var(--pequeno);
    }
}

/*tecnologia avançada*/

/*rodapé*/
.footer{
    background-color: var(--cor-12);
}
.footer-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
}
.footer-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.footer-container h1{
    font-family: var(--texto);
    color: var(--cor-0);
    font-size: var(--pequeno-medio);
    font-weight: 500;

}
.link-contact{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    
}
.link-contact a{
    font-size: var(--pequeno-medio2);
    color: var(--cor-5);
    font-family: var(--texto);
    margin-bottom: 16px;
}
.footer-container ul{
    margin-top: 32px;
}
.footer-container li{
    font-size: var(--pequeno-medio2);
    color: var(--cor-5);
    font-family: var(--texto);
    margin-bottom: 16px;

}
.social-media{
    display: flex;
    gap: 30px;
    margin-top: 32px;
}
.nav-menu-footer{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}
.nav-menu-footer a{
    font-size: var(--pequeno-medio2);
    color: var(--cor-5);
    font-family: var(--texto);
    margin-bottom: 16px;
}
footer a:hover{
    color: var(--cor-0);
}
@media (max-width: 1200px){
    .contact h1, .info h1{
        font-size: var(--pequeno-medio2);
    }
}
@media (max-width: 800px){
    .footer-content-logo{
        display: none;
    }
    .footer-content{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 600px){
    .footer-content{
        grid-template-columns: 1fr;
        gap: 60px;
    }
    .footer-container ul {
        margin-top: 20px;
    }
    .footer-container{
        padding: 60px 20px 0px 20px;
    }
}


/*rodapé*/


/*copyright*/
.copyright{
    background-color: var(--cor-12);

}
.copyright-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
}
.copyright-container h1{
    font-size: var(--pequeno-medio2);
    color: var(--cor-5);
    font-family: var(--texto);
    font-weight: 400;
}
@media (max-width: 600px){
    .copyright-container {
        padding: 40px 20px;
    }

}
/*copyright*/