*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
img{
    display: block;
}
ul{
    text-decoration: none;
}
li{
    text-decoration: none;
    list-style-type: none 
}
a{
    text-decoration: none;
    font-family: var(--titulo);
}
.detalhe-ponto{
    color: var(--cor-p1);
}
:root {
    --cor-0: #ffffff;
    --cor-1: #f7f7f7;
    --cor-2: #ededed;
    --cor-3: #dedede;
    --cor-4: #cccccc;
    --cor-5: #b2b2b2;
    --cor-6: #9c9c9c;
    --cor-7: #717171;
    --cor-8: #595959;
    --cor-9: #404040;
    --cor-10: #2e2e2e;
    --cor-11: #111111;
    --cor-12: #000000;
    --cor-p1: #ffbb00;
    --cor-p2: #e4a30b;
    --cor-p3: #a66f00;
    --cor-p4: #664400;
    --cor-p5: #332200;
}
:root{
    --titulo: poppins, sans-serif;
    --texto: roboto, sans-serif;
    --grande: 4rem;
    --grande2: 3rem; 
    --medio-grande: 2rem;
    --pequeno-medio: 1.5rem;
    --pequeno-medio2: 1.125rem;
    --pequeno: 1rem
}
/*header*/
header{
    background-color: var(--cor-12);
    
}
.container-header{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    
}
.menu a{
    color: var(--cor-0);
    padding: 12px 0px;
    border-radius: 4px;
    font-size: var(--pequeno-medio2);
    display: block;
    position: relative;
}
.menu a:after{
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background-color: var(--cor-0);
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
}
.menu a:hover:after{
    width: 100%;
}

@media (max-width: 800px) {
    .menu a{
        background: var(--cor-11);
        padding: 12px 16px;
        width: 100%;
    }
    .nav-menu{
        gap: 20px;
    }
    .menu a:after{
        display: none;
    }
}
@media (max-width: 600px) {
    .menu a{
        font-size: var(--pequeno);
        padding: 8px 12px;
    }
    .nav-menu{
        gap: 20px;
    }
}
@media (max-width: 500px){
    .cabecalho{
        flex-wrap: wrap;
        gap: 20px;
    }
}

/*header*/
/*formulario contato*/
label{
    display: block;
}
.contact-form{
    background-color: var(--cor-11);
    background: linear-gradient(to top, var(--cor-1) 45%, var(--cor-11) 0%);
    
}
.contact-form-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
    
}
.contact-tittle-introduction{
    background: url(../img/dec/top-right.svg) no-repeat top  right  ;

}
.contact-tittle-introduction h2{
    font-family: var(--texto);
    font-size: var(--pequeno-medio);
    color: var(--cor-5);
    font-weight: 500;
}
.contact-tittle-introduction h1{
    font-size: var(--grande);
    font-family: var(--titulo);
    color: var(--cor-0);
    line-height: 1.125;
    margin-top: 4px;
}
@media (max-width: 1200px){
    .contact-tittle-introduction h1{
        font-size: var(--grande2);
    }
    .contact-tittle-introduction h2{
        font-size: var(--pequeno-medio2);
    }
}
@media (max-width: 800px){
    .contact-tittle-introduction h1{
        font-size: var(--medio-grande);
    }
    .contact-tittle-introduction h2{
        font-size: var(--pequeno);
    }
    .contact-form-container{
        padding: 40px 20px 0px 20px;

    }
}
@media (max-width: 600px){
    .button-card1{
        padding: 12px 16px;
        font-size: var(--pequeno);
    }
    .button-card2{
        padding: 12px 16px;
        font-size: var(--pequeno);
    }
}
.contact-form-content{
    display: grid;
    grid-template-columns: 5fr 7fr;
    margin-top: 60px;
}
.contact-form-info{
    background-color: var(--cor-12);
    padding: 60px;
    border-radius: 4px 0px 0px 4px;
}

.contact-form-info h1{
    font-size: var(--pequeno-medio2);
    color: var(--cor-0);
    font-family: var(--titulo);
    margin-bottom: 60px;
}
.contact-form-info li,a{
    color: var(--cor-4);
    margin-bottom: 8px;
    font-family: var(--texto);
}
.contact-form-social-media{
    margin-top: 52px;
}


.contact-form-info-email{
    margin-top: 32px;
}
.contact-form-info-phone{
    margin-top: 32px;
}
.contact-form-social-media{
    display: flex;
    gap: 32px;
}

.contact-form-formulario{
    background-color: var(--cor-0);
    padding: 60px;
    border-radius: 0px 4px 4px 0px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.contact-form-formulario form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.email-form{
    grid-column: span 2;
}
.mensage-form{
    grid-column: span 2;

}
.contact-form-formulario input,textarea{
    line-height: 1.5;
    font-size: var(--pequeno);
    font-family: var(--texto);
    background: var(--cor-1);
    border: 1px solid var(--cor-2);
    padding: 12px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}
.contact-form-formulario label{
    display: block;
    font: 400 1rem / 1.5 "Poppins", sans-serif;
    margin-bottom: 4px;
}
.button-form button{
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    background-color: var(--cor-p1);
    font-size: var(--pequeno-medio2);
    font-weight: 600;
    border: 0px;
}
@media (max-width: 800px) {
    .contact-form-content{
        grid-template-columns: 1fr;
        margin-top: 40px;

    }
    .contact-form-info{
        padding: 20px;
    }
    .contact-form-social-media{
        margin-top: 32px;
    }
    .contact-form-info h1{
        margin-bottom: 32px;
    }
    .contact-form-formulario{
        padding: 20px;
    }
}
@media (max-width: 600px) {
    .name-form,.phone-form   {
        grid-column: span 2;

    }
    .button-form button{
        padding: 12px 16px;
        font-size: var(--pequeno);
    }
}
/*formulario contato*/
/*Lojas locais*/
.local-stores{
    background-color: var(--cor-1);
}
.local-stores-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
}
.local-stores-tittle h1{
    font-size: var(--grande);
    font-family: var(--titulo);
    color: var(--cor-11);
    line-height: 1.125;
    margin-top: 4px;
}
@media (max-width: 1200px){
    .local-stores-tittle h1{
        font-size: var(--grande2);
    }
}
@media (max-width: 800px){
    .local-stores-tittle h1{
        font-size: var(--medio-grande);
    }

}
.all-locals{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 60px;
}
.local>img{
    width: 100%;
    border-radius: 4px 4px 0px 0px;
}
.local{
    background-color: var(--cor-0);
    
}
.content-local{
    padding: 32px;
}
.content-local h1{
    font-size: var(--medio-grande);
    color: var(--cor-11);
    font-family: var(--texto);
}
.content-local p,a{
    font-size: 16px;
    font-family: var(--texto);
    
}
.local-contact{
    display: flex;
    gap: 16px;
    width: 100%;
    justify-content: space-between;
    margin-top: 32px;
    
}
.local-contact-link,.local-contact-address{
    border-left: 2px solid var(--cor-2);
    padding-left: 12px;
}
.local-contact a{
    display: block;
    margin: 0px;
    line-height: 2;
}
.local-contact p{
    line-height: 2;
}
.local-time{
    margin-top: 32px;
    display: flex;
    gap: 8px;
}
.local-time p{
    font-family: var(--titulo);
    color: var(--cor-11);
}

@media (max-width: 800px){
    .all-locals{
        margin-top: 52px;
        grid-template-columns: 1fr;
    }
    .local-contact{
        flex-direction: column;
    }
    .content-local h1{
        font-size: var(--pequeno-medio);
    }
}
/*Lojas locais*/




/*rodapé*/
.footer{
    background-color: var(--cor-12);
}
.footer-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
}
.footer-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.footer-container h1{
    font-family: var(--texto);
    color: var(--cor-0);
    font-size: var(--pequeno-medio);
    font-weight: 500;

}
.link-contact{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    
}
.link-contact a{
    font-size: var(--pequeno-medio2);
    color: var(--cor-5);
    font-family: var(--texto);
    margin-bottom: 16px;
}
.footer-container ul{
    margin-top: 32px;
}
.footer-container li{
    font-size: var(--pequeno-medio2);
    color: var(--cor-5);
    font-family: var(--texto);
    margin-bottom: 16px;

}
.social-media{
    display: flex;
    gap: 30px;
    margin-top: 32px;
}
.nav-menu-footer{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}
.nav-menu-footer a{
    font-size: var(--pequeno-medio2);
    color: var(--cor-5);
    font-family: var(--texto);
    margin-bottom: 16px;
}
footer a:hover{
    color: var(--cor-0);
}
@media (max-width: 1200px){
    .contact h1, .info h1{
        font-size: var(--pequeno-medio2);
    }
}
@media (max-width: 800px){
    .footer-content-logo{
        display: none;
    }
    .footer-content{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 600px){
    .footer-content{
        grid-template-columns: 1fr;
        gap: 60px;
    }
    .footer-container ul {
        margin-top: 20px;
    }
    .footer-container{
        padding: 60px 20px 0px 20px;
    }
}


/*rodapé*/


/*copyright*/
.copyright{
    background-color: var(--cor-12);

}
.copyright-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
}
.copyright-container h1{
    font-size: var(--pequeno-medio2);
    color: var(--cor-5);
    font-family: var(--texto);
    font-weight: 400;
}
@media (max-width: 600px){
    .copyright-container {
        padding: 40px 20px;
    }

}
/*copyright*/